*{
    margin: 0;
    padding: 0;
    font-family: "Sedan", serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(62, 145, 218),rgba(251,209,94)), url(cb_banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: large;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #BE8219;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #F37D5F;
    background: #F37D5F;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media only screen and (max-width: 700px){
    .text-box h1{
        font-size: 20px;  
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #BE8219;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-----Activity--------*/

.activity{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #0A39A8;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.activity-col{
    flex-basis: 31%;
    background: #F37D5F;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12 px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.activity-col:hover{
    box-shadow: 0 0 20px 0px rgb(184, 56, 24)
}
@media only screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*----Message-----*/

.Message{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(rgba(251, 209, 94 ), rgba(62, 145, 218));
}
.message-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.message-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(62, 145, 218,0.7);
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------Items-----*/
.Items{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Items-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Items-col img{
    width: 100%;
    border-radius: 10px;
}
.Items-col p{
    padding: 0;
}
.Items-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Footer Styles */

body > footer {
    background-color: rgb(251, 209, 94);
    font-size: 0.9em;
    text-align: center;
    padding: 10px 0px;
 }

 /* New Styles Added Below */

/* ========================
   Mobile Styles: 0px to 480px
   ==========================
*/
@media only screen and (max-width: 480px) {

    nav.horizontal a {
       font-size: 1.5em;
       line-height: 2.2em;
    }
 
    aside {
       background-color: rgb(243, 125, 94);
       float: left;
       width: 40%;
    }
 }
 
 /* =================================
    Tablet Styles: 481px and greater
    =================================
 */
 @media only screen and (min-width: 481px) {
 
    ul.mainmenu > li {
       float: left;
       position: relative;
       width: 20%;
    }
 
    ul.submenu {
       box-shadow: rgb(251, 209, 94) 5px 5px 15px;
       position: absolute;
       width: 200%;
    }
 }
 
 /* ==================================
    Destop Styles: 769px and greater
    ==================================
 */
 @media only screen and (min-width: 769px) {
 
    ul.submenu {
       background: transparent;
       box-shadow: rgb(251, 209, 94);
       display: block;
       position: relative;
       width: 100%;
    }
 
    nav.horizontal::after {
       clear: both;
       content: "";
       display: table;
    }
 
    nav.horizontal a.submenuTitle {
       display: none;
    }
 
    article {
       background-color: rgb(184, 56, 24);
       float: left;
       margin-right: 2%;
       width: 100%;
    }
 
    aside {
       background-color: rgb(190, 130, 25);
       float: right;
       width: 100%;
    }
 }
 /*-------footer-----*/
 .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
 }
 .footer {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
 }